# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
venv/

# Flutter/Dart
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IDE
.idea/
.vscode/
*.iml
*.iws
.idea_modules/
*.ipr

# Docker
.docker/

# Google Cloud
service_account.json

# Dependencies
node_modules/
jspm_packages/

# Misc
*.swp
*.bak
.DS_Store
Thumbs.db
